@using PMSOperation.Models;
@using PMSOperation;
@using Microsoft.AspNet.Identity;

@model List<PropertyViewModel>

<div class="panel panel-default sidebar-menu wow fadeInRight animated">
    <div class="panel-heading">
        <h3 class="panel-title">Similar Properties</h3>
    </div>
    <div class="panel-body recent-property-widget">
        <ul>
            @foreach (var m in Model)
            {
            <li>
                <div class="col-md-3 col-sm-3 col-xs-3 blg-thumb p0">
                    <a href="@Url.Action("Detail", "Property", new { id = m.PropertyId })"><img src="@Url.Content(m.Photo?.Split(',').FirstOrDefault())"></a>
                    <span class="property-seeker">
                        <b class="b-1">A</b>
                        <b class="b-2">S</b>
                    </span>
                </div>
                <div class="col-md-8 col-sm-8 col-xs-8 blg-entry">
                    <h6> <a  href="@Url.Action("Detail", "Property", new { id = m.PropertyId })">@m.PropertyType</a></h6>
                    <span class="property-price">@m.Price <span>&#8380;</span></span>
                 

                </div>
            </li>
            }
        </ul>
    </div>
</div>

